<ul>
  <li><%= link_to 'Welcome', welcome_path %></li>
  <li><%= link_to 'All products', products_path %></li>
  <li><%= link_to 'All catgories (admin)', categories_path %></li>
  <li><%= link_to 'New product (admin)', new_product_path %></li>
  <li><%= link_to 'New category (admin)', new_category_path %></li>
  <li><%= link_to 'Reviews (admin)', reviews_products_path %></li>
  <li><%= link_to 'Order Table (admin)', orders_path %></li>
  <li><%= link_to "My cart (#{current_user.order.products.count})", shopping_cart_path %></li>
  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
</ul>
