<%= link_to "Completed(#{@co_orders.count})", '', class: 'show_completed', remote: true, style: 'color:blue;' %>
<%= link_to "Sended(#{@se_orders.count})", '', class: 'show_sended', remote: true, style: 'color:gray;' %>
<%= link_to "Canceled(#{@ca_orders.count})", '', class: 'show_canceled', remote: true, style: 'color:gray;' %>

<div class="completed">
  <% @co_orders.each do |order| %>
    <b>Email:</b> <%= order.user.email %><br>
    <b>Status:</b> <%= order.status %><br>
    <b>Products count:</b> <%= order.products.count %><br>
    <ul>
      <% order.products.each do |product| %>
        <li><%= link_to product.title, product %></li>
      <% end %>
    </ul>
    <% if order.contact_phone %><b>Contact phone:</b> <%= order.contact_phone %><br><% end %>
    <% if order.additional %><b>Additional:</b> <%= order.additional %><br><% end %>
    <b>Total price:</b> <%= order.total_price %><br>
    <%= link_to 'Delete', order, method: :delete, style: 'color:red;' %> |
    <%= link_to 'Cancel', update_order_path(order_id: order.id, meth: :cancel), method: :patch, style: 'color:red;' %> |
    <%= link_to 'Send', update_order_path(order_id: order.id, meth: :send), method: :patch %><br>
  <% end %>
</div>
<div class="sended" style="display: none;">
  <% @se_orders.each do |order| %>
    <b>Email:</b> <%= order.user.email %><br>
    <b>Status:</b> <%= order.status %><br>
    <b>Products count:</b> <%= order.products.count %><br>
    <ul>
      <% order.products.each do |product| %>
        <li><%= link_to product.title, product %></li>
      <% end %>
    </ul>
    <% if order.contact_phone %><b>Contact phone:</b> <%= order.contact_phone %><br><% end %>
    <% if order.additional %><b>Additional:</b> <%= order.additional %><br><% end %>
    <b>Total price:</b> <%= order.total_price %><br>
    <%= link_to 'Delete', order, method: :delete, style: 'color:red;' %><br>
  <% end %>
</div>
<div class="canceled" style="display: none;">
  <% @ca_orders.each do |order| %>
    <b>Email:</b> <%= order.user.email %><br>
    <b>Status:</b> <%= order.status %><br>
    <b>Products count:</b> <%= order.products.count %><br>
    <ul>
      <% order.products.each do |product| %>
        <li><%= link_to product.title, product %></li>
      <% end %>
    </ul>
    <% if order.contact_phone %><b>Contact phone:</b> <%= order.contact_phone %><br><% end %>
    <% if order.additional %><b>Additional:</b> <%= order.additional %><br><% end %>
    <b>Total price:</b> <%= order.total_price %><br>
    <%= link_to 'Delete', order, method: :delete, style: 'color:red;' %><br>
  <% end %>
</div>
