<ul class="nav nav-tabs">
  <li id='show_completed' role="presentation" class="active"><%= link_to "Completed (#{@co_orders.count})", '', class: 'show_completed', remote: true %></li>
  <li id='show_sended' role="presentation"><%= link_to "Sended (#{@se_orders.count})", '', class: 'show_sended', remote: true %></li>
  <li id='show_canceled' role="presentation"><%= link_to "Canceled (#{@ca_orders.count})", '', class: 'show_canceled', remote: true %></li>
</ul>
<div class="completed">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Product count</th>
        <th>Total price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @co_orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= order.products.count %></td>
        <td>$ <%= order.total_price %></td>
        <td>
          <%= link_to 'Open', order, remote: true, class: 'open_order' %> |
          <%= link_to 'Send', update_order_path(order_id: order.id, meth: :send), method: :patch %> |
          <%= link_to 'Cancel', update_order_path(order_id: order.id, meth: :cancel), method: :patch, style: 'color:red;' %> |
          <%= link_to 'Delete', order, method: :delete, style: 'color:red;' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="sended" style="display: none;">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Product count</th>
        <th>Total price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @se_orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= order.products.count %></td>
        <td>$ <%= order.total_price %></td>
        <td>
          <%= link_to 'Open', order, remote: true, class: 'open_order' %> |
          <%= link_to 'Restore', update_order_path(order_id: order.id, meth: :restore), method: :patch %> |
          <%= link_to 'Delete', order, method: :delete, style: 'color:red;' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="canceled" style="display: none;">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Product count</th>
        <th>Total price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ca_orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= order.products.count %></td>
        <td>$ <%= order.total_price %></td>
        <td>
          <%= link_to 'Open', order, remote: true, class: 'open_order' %> |
          <%= link_to 'Restore', update_order_path(order_id: order.id, meth: :restore), method: :patch %> |
          <%= link_to 'Delete', order, method: :delete, style: 'color:red;' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
