<% orders.each do |order| %>
  <b>Email:</b> <%= order.user.email %><br>
  <b>Products count:</b> <%= order.products.count %><br>
  <ul>
    <% order.products.each do |product| %>
      <li><%= link_to product.title, product %></li>
    <% end %>
  </ul>
  <b>Total price:</b> <%= order.total_price %><br>
  <%= link_to 'Delete', order, method: :delete, style: 'color:red;' %><br>
<% end %>
