<%= form_for category, html: { multipart: true } do |f| %>
  <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon1">Title</span>
    <%= f.text_field :title, :class => "form-control", :placeholder => "Enter title here..."%>
  </div><br>

  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon1">Description</span>
    <%= f.text_area :description, :class => "form-control", :placeholder => "Enter description here..."%>
  </div><br>

  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon1">Image</span>
    <%= f.file_field :image, :class => "form-control", :placeholder => "Enter file here..."%>
  </div><br>

  <%= f.submit :save, class: "btn btn-primary"%>
<% end %>
