<%= form_for product do |f| %>

  <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= f.label :price %><br>
  <%= f.text_field :price, :value => (number_with_precision(f.object.price, :precision => 2) || 0) %><br>

  <%= f.label :image %><br>
  <% if product.image.present? %><%= image_tag(product.image.little.url) %><% end %>
  <%= f.file_field :image %><br>

  <%= f.label :category %><br>
  <%= f.select(:category_id) do %>
    <% Category.all.each do |c| -%>
      <%= content_tag(:option, c.title, value: c.id) %>
    <% end %>
  <% end %><br><br>

  <%= f.submit :save %>

<% end %>
