<h2><%= @product.title %></h2>
<%= image_tag @product.image.normal.url %><br>
<%= link_to @product.category.title, @product.category %>
<p>
  <%= @product.description %>
</p>
<h3>Price = <%= @product.price %>$</h3>
<% if can? :update, Product %><%= link_to 'Edit product', edit_product_path(@product) %><br><% end %>
<% if can? :delete, Product %><%= link_to 'Delete product', @product, method: :delete, data: { confirm: "Are you sure?" }, style: 'color:red;' %><br><% end %>
<% if can? :update, Order %><%= link_to 'Add to Cart', update_order_path(product_id: @product, meth: :add), method: :patch %><br><% end %>
<b>Raiting:</b> <%= @product.raiting %>
<div class="reviews">
  <% @product.reviews.where(approved: true).each do |review| %>
    <%= review.body %>
    <b><%= review.stars %></b><br>
  <% end %>
</div>

<% if can? :create, Review %>
  <%= form_for [@product, @product.reviews.build], remote: true do |f| %>
    <%= f.text_area :body, placeholder: 'Review..' %><br>
    <%= f.label :stars %><br>
    <%= f.select(:stars) do %>
      <option value="" disabled selected>Select your option</option>
      <% Review.stars.each do |star, val| -%>
        <%= content_tag(:option, "#{star} (#{val})", value: star) %>
      <% end %>
    <% end %>

    <%= f.submit :Save  %>
  <% end %>
<% end %>
