<div class="approved" style="display: none;">
  <% reviews.where(approved: true).each do |review| %>
    <%= review.user.email %>
    <%= review.body %>
    <%= review.stars %>
    <%= link_to review.product.title, review.product %>
    <%= link_to 'Edit', edit_product_review_path(review.product, review) %>
    <%= link_to 'Delete', [review.product, review], method: :delete, style: 'color:red;', remote: true, class: :delete_review %>
    <br>
  <% end %>
</div>
<div class="unapproved">
  <% reviews.where(approved: false).each do |review| %>
    <%= review.user.email %>
    <%= review.body %>
    <%= review.stars %>
    <%= link_to review.product.title, review.product %>
    <%= link_to 'Edit', edit_product_review_path(review.product, review) %>
    <%= link_to 'Delete', [review.product, review], method: :delete, style: 'color:red;', remote: true, class: :delete_review %>
    <br>
  <% end %>
</div>
