<div class="approved" style="display: none;">
  <% reviews.where(approved: true).each do |review| %>
    <%= review.user.email %>
    <%= review.body %>
    <%= review.stars %>
    <%= link_to review.product.title, review.product %>
    <%= link_to 'Unapprove!', [review.product, review, meth: :unapprove], method: :patch %>
    <%= link_to 'Delete', [review.product, review], method: :delete, style: 'color:red;', remote: true, class: :delete_review %>
    <br>
  <% end %>
</div>
<div class="unapproved">
  <% reviews.where(approved: false).each do |review| %>
    <%= review.user.email %>
    <%= review.body %>
    <%= review.stars %>
    <%= link_to review.product.title, review.product %>
    <%= link_to 'Approve!', [review.product, review, meth: :approve], method: :patch %>
    <%= link_to 'Delete', [review.product, review], method: :delete, style: 'color:red;', remote: true, class: :delete_review %>
    <br>
  <% end %>
</div>
