<h1>Update review</h1>
<ul>
  <li><%= @review.body %></li>
  <li><%= @review.stars %></li>
  <li><%= link_to @review.product.title, @review.product %></li>
</ul>
<%= form_for [@review.product, @review] do |f| %>
<%= f.label :approved %>
<%= f.check_box :approved %>
<%= f.submit :save %>
<% end %>
