<!DOCTYPE html>
<html>
  <head>
    <title>Spalah Shop</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'source/header' %>
    <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-5 col-lg-3">
            <div class="well">
            <h3>Navigation</h3>
            <%= render 'source/navigation' %>
            <% if controller_name == 'products' and action_name == 'index' %>
            <h3>Search</h3>
              <%= render 'source/search' %>
            <% end %>
            <% if controller_name == 'categories' and action_name == 'index' %>
            <h3>Categories</h3>
              <%= render 'source/categories' %>
            <% end %>
          </div>
        </div>
        <div class="col-md-8 col-sm-7 col-lg-9">
          <div class="row text-center">
            <div class="col-12">
              <% if notice %>
              <div class="alert alert-success">
                <strong>Success!</strong> <%= notice %>
              </div>
              <% end %>

              <% if alert %>
              <div class="alert alert-danger">
                <strong>Alert!</strong> <%= alert %>
              </div>
              <% end %>
            </div>
          </div>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
